; @mitra-cristianmarques:registry=https://npm.pkg.github.com/
; //npm.pkg.github.com/:_authToken=${NPM_TOKEN}

; DEV
registry=http://localhost:4873
@mitra-cristianmarques:registry=http://localhost:4873
always-auth=true